@import "range";

.video {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  text-align: center;

  &-header {
    margin-bottom: 30px;
  }

  &-container {
    position: relative;
    border: 1px solid rgba(#0F1E36, .2);
    border-bottom: none;
    max-width: 800px;
    margin: 0 auto;
  }

  &-player {
    width: 100%;
    height: 449px;
    cursor: pointer;

    @media (max-width: 1024px) {
      height: 308px;
    }

    @media (max-width: 650px) {
      height: 168px;

    }
  }

  &-navigation {
    position: absolute;
    bottom: -44px;
    border-left: 1px solid rgba(#0F1E36, .2);
    border-right: 1px solid rgba(#0F1E36, .2);
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0F1E36;
    color: #fff;


  }

  &-button {
    color: #fff;
    background-color: transparent;
    border: 0;
    outline: 0;
    margin: 15px;
    min-width: 25px;
  }

  &-time {
    margin: 15px;

    font-weight: 700;
  }

  &-icon {
    margin: 5px;
  }

  &-volume {
    max-width: 80px;
  }
}
